{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}






{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->


<link rel="stylesheet" href="{% static 'mybrain/css/login.css'%}">
<div class="container">

  <img class="center-block" src="{% static 'images/mybrainlogo.png'%}" alt="xxx">

</div>
<p id="textMybrain">MyBrain</p>

<div id="loginMybrain" class="container">
  <h1>Login Your Brain</h1>
</div>


<div id="formLogin" class="container">

    <br>
    <br>

    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Login" class="btn btn-default">
    </form>
</div>
{% endblock %}
