img{
  display:flex;
         justify-content:center;
         align-items:center;
}

#textMybrain {
  color: #dbb3c9;
  display:flex;
         justify-content:center;
         align-items:center;
  font-size: 25px
}


#formLogin{
  background-color: #dbb3c9;
  color: white;

}

#loginMybrain {
  background-color: #dbb3c9;
  color: white;
  border: 10px outset #dbb3c9;
}
